<!-- HEADER -->
<nav class="header-navbar">
    <div class="navbar-header clearfix">
	<a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mini-navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <i class="fa fa-plus"></i>
	</a>
	
	<a class="logo pull-left" href="#">
	    <img src="/static/assets/img/logo.png" width="110" alt="Heiduc Logo">
	</a>
	
    </div>
  
    <div class="collapse navbar-collapse" id="mini-navbar-collapse">
	
	<ul class="nav navbar-nav navbar-right">
		<li>
			<%= locale %>
		</li>
	</ul>
    </div><!-- navbar-collapse -->
</nav>
<!-- HEADER -->


	
