<!-- side navigation -->
<aside class="sidebar affix" role="complementary">
	<div class="sidebar-user">
		<div class="media sidebar-padding">
			<div class="media-left media-middle">
				<img src="/static/images/guy.jpg" alt="person" style="width: 60px" class="img-circle">
			</div>
			<div class="media-body media-middle">
				<a href="#profile" class="h4 margin-none"><%= Heiduc.app.user.name %></a>
				<ul class="list-unstyled list-inline margin-none">
					<li><a href="#profile"><i class="fa fa-user"></i><%= Heiduc.app.user.email %></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Wrapper Reqired by Nicescroll (start scroll from here) -->
	<div class="nicescroll">
		<div class="wrapper" style="margin-bottom: 90px; overflow-y: hidden; outline: none;" tabindex="0">
			<ul class="nav nav-sidebar" id="sidebar-menu">
                <h4 class="sidebar-headline">Sidebar Menu</h4>
                <li class="active"><a href="#index"><i class="fa fa-desktop"></i> Dashboard <span class="sr-only">(current)</span></a></li>
				<li><a href="#pages"><i class="fa fa-dashboard"></i> <%= messages("content") %></a></li>
				<% if (Heiduc.app.user.admin) { %>
                <li><a href="#templates"><i class="fa fa-group"></i> <%= messages("templates") %></a></li>
                <% } %>      
                <li><a href="#folders"><i class="fa fa-rmb"></i> <%= messages("resources") %></a></li>
                <% if (Heiduc.app.user.admin) { %>
                <li><a href="#config"><i class="fa fa-cogs"></i><%= messages("configuration") %></a></li>
				<% } %>
			</ul>
			<% if (Heiduc.app.user.admin) { %>
			<h4 class="sidebar-headline">Sidebar Headline</h4>

			<ul class="nav nav-sidebar">
				<li class="submenu">
					<a href="#plugins"><i class="fa fa-plus-square"></i><%= messages("plugins") %></a>
					<ul>
						<li><a href="#plugins/config"><%= messages("plugins.config") %></a></li>
						<li>
							<a href="#plugins/forms">
								<%= messages("forms") %><!--  &nbsp;<span class="label label-primary">1468</span> -->
							</a>
						</li>
						<li><a href="#plugins/seo-urls"><%= messages("plugins.seo_urls") %> </a></li>
					</ul>
				</li>
			</ul>
			<% } %>
		</div>
	</aside>

