<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-9">
						<ul class="nav nav-tabs" id="tabs_a">
							<li><a href="#pages"><%= messages("pages") %></a></li>
							<li data-toggle="tab" class="active"><a href="#structures"><%= messages("structures") %></a></li>
						</ul>
						<div class="tab-content" id="tabs_content_a">
							<div id="home_a" class="tab-pane fade in active">
								<div class="form-group">
									<div id="structures"><img src="/static/images/ajax-loader.gif" /></div>
								</div>
								
						        <div class="form-sep">
						            <input id="addButton" class="btn" type="button" value="<%= messages("add") %>"/>
						            <input id="deleteButton" class="btn" type="button" value="<%= messages("delete") %>"/>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

