<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<ul class="nav nav-tabs" id="tabs_a">
							<li class="active"><a data-toggle="tab" href="#tab-1"><%= messages("templates") %></a></li>
						</ul>
						<div class="tab-content" id="tabs_content_a">
							<div id="home-1" class="tab-pane fade in active">
								<div id="templates"><img src="/static/images/ajax-loader.gif" /></div>
								
						        <div class="form-sep">
						            <input id="addButton" class="btn" type="button" value="<%= messages("add")%>" />
							        <input id="deleteButton" class="btn" type="button" value="<%= messages("delete")%>" />
							        <input id="exportButton" class="btn" type="button" value="<%= messages("export")%>" />
							        <input id="importButton" class="btn" type="button" value="<%= messages("import")%>" />
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="import-dialog" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= messages("templates.import_themes")%></h4>
      </div>
      <div class="modal-body">
      	<form id="upload" action="/cms/upload" method="post" enctype="multipart/form-data">
		    <%= messages("file_upload")%>:
		    <input type="hidden" name="fileType" value="import" />
		    <input type="file" name="uploadFile" />
		    <div class="modal-footer">
		        <input type="submit" class="btn btn-primary" value="<%= messages("send")%>" />
		        <input data-dismiss="modal" class="btn btn-default" type="button" value="<%= messages("cancel")%>" />
		    </div>    
		</form>
      </div>	
    </div>
  </div>
</div>


<div class="modal fade" id="afterUpload-dialog" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= messages("status_window")%></h4>
      </div>
      <div class="modal-body">
      	<p class="message"></p>
	    <div class="buttons-dlg">
	        <input id="okButton" type="button" value="OK" />
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal"><%= messages("cancel") %></button>
	        <button type="submit" class="btn btn-primary"><%= messages("save") %></button>
	    </div>
      </div>	
    </div>
  </div>
</div>

<div class="modal fade" id="export-dialog" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= messages("export_window")%></h4>
      </div>
      <div class="modal-body">
      	<form id="exportForm">
		    <p><%= messages("templates.export_info")%></p>
		    <div id="exportInfo" class="form-row"></div>    
		    <div id="timer" class="form-row"></div>
		    <div class="modal-footer">
		        <input data-dismiss="modal" class="btn btn-default" type="button" value="<%= messages("cancel")%>" />
		    </div>
		</form>
      </div>	
    </div>
  </div>
</div>

<div class="modal fade" id="structures-dialog" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= messages("export_structures")%></h4>
      </div>
      <div class="modal-body">
      	<form id="structuresForm">
		    <p><%= messages("templates.structures_info")%></p>
		    <div id="structures"></div>    
		    <div class="modal-footer">
		        <input type="submit" class="btn btn-primary" value="<%= messages("export")%>" />
		        <input data-dismiss="modal" class="btn btn-default" type="button" value="<%= messages("cancel")%>" />
		    </div>
		</form>
      </div>	
    </div>
  </div>
</div>


