<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:j2ee="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2.5.xsd">
  
  <filter>
    <filter-name>ContextFilter</filter-name>
    <filter-class>com.heiduc.filter.ContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>InitFilter</filter-name>
    <filter-class>com.heiduc.filter.InitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InitFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 字符集过滤 -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>
			com.heiduc.filter.EncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <filter>
    <filter-name>UpdateFilter</filter-name>
    <filter-class>com.heiduc.filter.UpdateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UpdateFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LanguageFilter</filter-name>
    <filter-class>com.heiduc.filter.LanguageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LanguageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PluginCronFilter</filter-name>
    <filter-class>com.heiduc.filter.PluginCronFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PluginCronFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.heiduc.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Oauth2Filter</filter-name>
    <filter-class>org.heiduc.oauth2.filter.Oauth2Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Oauth2Filter</filter-name>
    <url-pattern>/ws/api/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RewriteFilter</filter-name>
    <filter-class>com.heiduc.filter.RewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SiteFilter</filter-name>
    <filter-class>com.heiduc.filter.SiteFilter</filter-class>
    <init-param>
        <param-name>skipURL</param-name>
        <param-value>/authorize,/access_token,/ws</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SiteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Authorize</servlet-name>
    <servlet-class>org.heiduc.oauth2.servlet.AuthorizeServlet</servlet-class>
    <init-param>
        <param-name>authorizeURL</param-name>
        <param-value>/oauth2/login</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authorize</servlet-name>
    <url-pattern>/authorize</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccessTokenServlet</servlet-name>
    <servlet-class>org.heiduc.oauth2.servlet.AccessTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessTokenServlet</servlet-name>
    <url-pattern>/access_token</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>com.heiduc.servlet.ServiceServlet</servlet-name>
    <servlet-class>com.heiduc.servlet.ServiceServlet</servlet-class>
    <init-param>
      <param-name>gzip_threshold</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.heiduc.servlet.ServiceServlet</servlet-name>
    <url-pattern>/json-rpc/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.heiduc.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/cms/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>com.heiduc.servlet.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/file/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormSend</servlet-name>
    <servlet-class>com.heiduc.servlet.FormSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormSend</servlet-name>
    <url-pattern>/_ah/plugin/form/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.heiduc.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/_ah/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageQueueServlet</servlet-name>
    <servlet-class>com.heiduc.servlet.MessageQueueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageQueueServlet</servlet-name>
    <url-pattern>/_ah/queue/mq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CacheResetServlet</servlet-name>
    <servlet-class>com.heiduc.servlet.CacheResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CacheResetServlet</servlet-name>
    <url-pattern>/_ah/reset_cache</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.heiduc.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/_ah/logout</url-pattern>
  </servlet-mapping>
  <!-- -->
  <servlet>
    <servlet-name>ChannelCommandServlet</servlet-name>
    <servlet-class>com.heiduc.servlet.ChannelCommandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChannelCommandServlet</servlet-name>
    <url-pattern>/_ah/channelCommand</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>JSBundleServlet</servlet-name>
    <servlet-class>com.heiduc.servlet.JSBundleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSBundleServlet</servlet-name>
    <url-pattern>/i18n.js</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AtmosphereServlet</description>
    <servlet-name>AtmosphereServlet</servlet-name>
    <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
    <!-- -->
    <async-supported>true</async-supported>
    <!-- 
    <load-on-startup>0</load-on-startup>
     -->
  </servlet>
  <servlet-mapping>
    <servlet-name>AtmosphereServlet</servlet-name>
    <url-pattern>/_ah/channel/*</url-pattern>
  </servlet-mapping>

   <!-- Resteasy -->
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/ws/*</url-pattern>
  </servlet-mapping>
  
  <listener>
     <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <context-param>
     <param-name>resteasy.servlet.mapping.prefix</param-name>
     <param-value>/ws</param-value>
  </context-param>
   
  <listener>
	<display-name>scheduler manager</display-name>
	<listener-class>com.heiduc.listener.SchedulerContextListener</listener-class>
  </listener>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>