@import url('slick-default-theme.css');
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot') format('embedded-opentype'), 
       url('../fonts/icomoon.woff') format('woff'), 
       url('../fonts/icomoon.ttf') format('truetype'), 
       url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#treegrid {
  background: white;
  outline: 0;
}


/* Rows */

.slick-row .cell-title {
    	height: 16px;
		  font-size: 14px;
      font-weight: normal;
    }

.slick-row .icon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #53585f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

	.slick-row .toggle {
    display: inline-block;
    position: relative;
    float: left;
    height: 100%;
    width: 20px;
    text-align: center;
}

.slick-row .toggle.collapse:before {
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); 
}

	.slick-row .toggle.expand:before, .slick-row .toggle.collapse:before {
		position: relative;
		display: block;
		top: 50%;
		margin: -10px 0 0;
		font-size: 20px;
		font-family: 'icomoon' !important;
		content: "\e3b5";
	}

	 .slick-row .slick-cell-checkboxsel {
			min-width: 45px;
		  padding-left: 8px;
		  line-height: normal;
		}
		
		.slick-row .slick-cell-checkboxsel label {
		  display: inline-block;
		  width: 100%;
		  height: 100%;
		  vertical-align: middle;
		  background: url("../images/checkbox-unchecked.gif") center no-repeat;
		  cursor: pointer;
		}
		
		.slick-row .slick-cell-checkboxsel selected label {
		  background: url("../images/checkbox-checked.gif") center no-repeat;
		}
		.slick-row .slick-cell-checkboxsel.selected label {
  		background: url("../images/checkbox-checked.gif") center no-repeat;
		}
		.slick-row .slick-cell-checkboxsel input[type="checkbox"] {
		  display: none;
		}

/* 头部 Toolbar */
.toolbar {
	background-color: transparent;
    height: 41px;
    overflow: visible;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
}

.toolbar .button {
	
	background-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px 19px 1px 19px;
    margin: 0;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    display: inline-block;
    padding: 7px 14px;
}

.toolbar .button span {
    color: #777777;
    line-height: 24px;
    font-size: 14px;
    font-family: 'icomoon' !important;
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}

.toolbar .button:disabled {
    opacity: 0.5;
    cursor: default;
}

.toolbar .button:focus:not(:disabled) {
    box-shadow: 0px 0px 5px #98c9f2;
    border: 1px solid #98c9f2;
}

.toolbar .button:hover:not(:disabled) {
    background-color: transparent;
}

.button:focus:not(:disabled) {
    box-shadow: 0px 0px 5px #98c9f2;
    border: 1px solid #98c9f2;
}

.button:hover:not(:disabled) {
    background-color: #abaead;
}

.grid.no-header .slick-header {
	header: 0px;
    display: none;
}

.tree-grid .toolbar {
    width: 100%;
    height: 40px;
    background-color: #fafafa;
}



