<div id="users"> </div>
<div class="form-sep">
    <input class="btn btn-primary" id="addUserButton" type="button" value="<%= messages("add") %>" />
    <input class="btn btn-default" id="removeUserButton" type="button" value="<%= messages("remove") %>" />
</div>

<div class="modal fade" id="user-dialog" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= messages("config.user_details") %></h4>
      </div>
      <div class="modal-body">
      	<form id="userForm">
    <div class="messages"> </div>
    <div class="form-row">
        <label><%= messages("user_name") %></label>
        <input id="userName" type="text"/>
    </div>
    <div class="form-row">
        <label><%= messages("user_email") %></label>
        <input id="userEmail" type="text"/>
    </div>
    <div class="form-row">
        <label><%= messages("user_role") %></label>
        <select id="userRole">
            <option value="SITE_USER" selected="selected"><%= messages("site_user") %></option>
            <option value="USER"><%= messages("user") %></option>
            <option value="ADMIN"><%= messages("administrator") %></option>
        </select>
    </div>
    <div class="form-row">
        <label><%= messages("password") %></label>
        <input id="userPassword1" type="password"/>
    </div>
    <div class="form-row">
        <label><%= messages("retype_password") %></label>
        <input id="userPassword2" type="password"/>
    </div>
    <div class="form-row">
         <label><%= messages("profile.timezone") %></label>
         <select id="timezone"></select>
    </div>    
    <div class="modal-footer">
        <input class="btn btn-primary" id="userSaveDlgButton" type="submit" value="<%= messages("save") %>" />
        <input class="btn btn-default" id="userDisableDlgButton" type="button" value="<%= messages("disable") %>" />
        <input class="btn btn-default" data-dismiss="modal" id="userCancelDlgButton" type="button" value="<%= messages("cancel") %>" />
    </div>
  </form>
      </div>	
    </div>
  </div>
</div>

